<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Cart </title>
   <link rel="stylesheet" href="/styles.css">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap">
</head>
<body class="cart-body">
   <%- include('partials/navbar.ejs') %> 
   <% if (messages.cartUpdate) { %>
     <div class="flash-message cartUpdate">
       <%= messages.cartUpdate %>
     </div>
   <% } %>
   <% if (messages.cartRemove) { %>
     <div class="flash-message cartRemove">
       <%= messages.cartRemove %>
     </div>
   <% } %>
   <% if (messages.cartClear) { %>
     <div class="flash-message cartClear">
       <%= messages.cartClear %>
     </div>
   <% } %>
   <% if (messages.noProduct) { %>
     <div class="flash-message noProduct">
       <%= messages.noProduct %>
     </div>
   <% } %>
   <% if (messages.notEnoughCart) { %>
     <div class="flash-message notEnoughCart">
       <%= messages.notEnoughCart %>
     </div>
   <% } %>
   <% if (messages.notEnoughCredit) { %>
     <div class="flash-message notEnoughCredit">
       <%= messages.notEnoughCredit %>
     </div>
   <% } %>
   
   <h1 class="cart-title">Welcome to Your Cart, <%= req.user.name %></h1>
   <% if (cartItems.length > 0) { %>
     <ul>
      <% cartItems.forEach(item => { %>
        <div class="cartItem-container">
            
          <p>Product: <%= item.name %></p>
          <p>Quantity: <%= item.quantity %></p>
          <p>Price: $<%= item.price %></p>
        
          <form class="cart-update-button" method="POST" action="/updateCartItem">
           <input type="hidden" name="productId" value="<%= item.productId._id %>">
           <input class="quantity-input" type="number" name="quantity" value="<%= item.quantity %>" min="1" max="<%= item.productId.quantity %>">
           <button class="update-button" type="submit">Update</button>
          </form>
          <form method="POST" action="/removeFromCart">
           <input type="hidden" name="productId" value="<%= item.productId._id %>">
           <button class="remove-button" type="submit">Remove from Cart</button>
          </form>
            
       </div>
         <br>
          
      <% }); %>
     </ul>
      <div class="final-cart-options">
        <p>Total Quantity: <%= customer.cart.totalQuantity %></p>
        <p>Total Price: $<%= customer.cart.totalPrice %>
        <form class="clear-cart" method="POST" action="/clearCart">
           <button class="clear-cart-button" type="submit">Clear Cart</button>
        </form>
        <form method="POST" action="/purchase">
           <button class="purchase-button" type="submit">Purchase</button>
        </form>
      </div>
     
   
   <% } else { %>
    <p>Your cart is empty.</p>
   <% } %>
   
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="/script.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</body>
</html>