<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Product Page</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
  <%- include('partials/navbar.ejs') %>
  
  <% if (!isAuthenticated) { %>
  <div id="loginPopup">
      <button id="loginButton">Login</button>
  </div>
  <% } %>
   
   <div class="container-fluid">
    <div class="row">
      <!-- Left Vertical Section (20% width) -->
      <div class="col-3">
         <form id="searchForm">
            <h3>Filter Products</h3>
            <label for="name">Product Name:</label>
            <input type="text" id="name" placeholder="Type to filter" oninput="filterProducts()">

            <label for="priceRange">Price Range:</label>
            <input type="range" id="priceRange" name="priceRange" min="80" max="150" step="10" value="150" oninput="filterProducts()">
            <span id="priceValue">$150</span>
            
            <label for="favorite"></label>
            <input type="checkbox" id="favorite" onchange="filterProducts()"> Favorite
         </form>
        
      </div>

      <!-- Right Section (80% width) -->
      <div class="col-9">
        <div id="products-container">
        <% filteredProducts.forEach(product => { %>
          <div class="product-container">
            <img src="<%= product.image %>" alt="<%= product.name %>" style="max-width: 200px;">
            <h3 class="product-name"><%= product.name %></h3>
            <p>$<%= product.price %></p>
            <p><%= product.quantity %> left</p>
            <% if (product.favorite) { %>
              <p>Favorite Item!</p>
            <% } %>
            <form method="POST" action="/addToCart">
              <input type="hidden" name="productId" value="<%= product._id %>">
              <button type="submit">Add to Cart</button>
            </form>
          </div>
        <% }) %>
      </div>
      </div>
    </div>
   </div>
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
  <script src="/script.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</body>


</html>
