<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Profile</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap">
</head>
<body>
  <%- include('partials/navbar.ejs') %>

  <div class="container">
    <h1>Welcome, <%= req.user.name %>!</h1>

    <h2>Purchase History</h2>
    <ul>
      <% purchaseHistory.forEach(item => { %>
        <li>
          <%= item.quantity %> x <%= item.name %>
          <!--<p>Purchased on: <%= //purchaseHistory.purchaseDate.toLocaleDateString('en-US') %></p> -->
        </li>
      <% }) %>
    </ul>
    <h2>Total Spent: $<%= totalSpent %></h2>
    <h2>Total Credit Left: $<%= totalCreditLeft %></h2>
  </div>

 
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
  <script src="/script.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</body>
</html>